body {
    background-color: rgb(0, 0, 0);
    background-size: cover;
}

.background {
    background: url("https://www.riotgames.com/darkroom/1000/faad36e5333f25fc36c6d926cf51165c:44bc4ca5463fcf2dc8c17aba2b246ef5/life-at-val-leadership-article-header.png");
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%;
    filter: brightness(.6) contrast(1.1);
}

:root {
    --off-fl: #1FEDB7;
    --off-tr: #1fedb64d;
    --on-fl: #FF4655;
    --on-tr: #FF46554d;
}

@font-face {
    font-family: Blender;
    src: url("src/font/BlenderPro-Medium.ttf");
}

.bingoHeader {
    width: 100%;
    padding-bottom: 5.5px;
}
.bingoContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: max-content;
    align-self: center;
    justify-self: center;
    background-size: 100% 100%;
    padding: 5.5px;
    align-self: center;
    justify-self: center;
    top: 50%;
    transform: translateY(-50%);
}.bingoContainer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("src/img/background.png");
    z-index: -1;
    filter: grayscale(1);
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 5.5px;
    grid-row-gap: 5.5px;
    aspect-ratio: 1 / 1;
    width: 100%;
    align-self:flex-end;
}
.gridItem {
    font-family: Blender, sans-serif;
    font-size: 1vw;
    background-color: var(--off-tr);
    border: 4.5px solid var(--off-fl);
    aspect-ratio: 1 / 1;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.gridItem.marked {
    background-color: var(--on-tr);
    border: 4.5px solid var(--on-fl);
}
.bingoBackground {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
}